
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']">Home component</a>
      <a class="nav-item nav-link" [routerLink]="['/user']">User component</a>
      <a class="nav-item nav-link" [routerLink]="['/register']">Register component</a>
    </div>
  </div>
</nav>

<h3>App Component works</h3>

<!-- <a [routerLink]="['/home']">Home component</a>
<a [routerLink]="['/user']">User component</a>
<a [routerLink]="['/register']">Register component</a> -->

<div class="container">
<router-outlet></router-outlet>
</div>