<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
<!-- username field -->
    <div class="form-group mt-4">
        <label for="exampleInputEmail1">UserName</label>
        <input type="text" class="form-control" formControlName="username" 
        [ngClass]="{ 'is-invalid': registerForm.get('username')?.errors && registerForm.get('username')?.touched }" 
        placeholder="Enter Username">
            <div *ngIf="registerForm.get('username')?.touched  && registerForm.get('username')?.errors?.['required']" class="text-danger">
                Username is required
            </div>
            <div *ngIf="registerForm.get('username')?.errors?.['minlength']" class="text-danger">
                Username must contains mininum 4 charecters
            </div>
         </div>

<!-- email field -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email"
      placeholder="Enter email" 
      [ngClass]="{'is-invalid' : registerForm.get('email')?.errors && registerForm.get('email')?.touched }" >
        <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']" class="text-danger">
            Email is required
        </div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']" class="text-danger">
            Email is not valid
        </div>



   </div>

<!-- passowrd field -->
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control"  formControlName="password" placeholder="Password"
      [ngClass]="{'is-invalid' : registerForm.get('password')?.errors && registerForm.get('password')?.touched }" >
      <div *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched" class="text-danger">
            Passowrd is required
      </div>
      <div *ngIf="registerForm.get('password')?.errors?.['pattern']" class="text-danger">
            Password does not meets system requirements.
      </div>
    </div>



<!-- confirm_passowrd field -->
<div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control"  formControlName="confirm_password" placeholder="Password"
    [ngClass]="{'is-invalid' : registerForm.get('password')?.errors && registerForm.get('password')?.touched }" >
    <div *ngIf="registerForm.get('confirm_password')?.errors?.['required'] && registerForm.get('confirm_password')?.touched" class="text-danger">
          Passowrd is required
    </div>

    <div *ngIf="registerForm.errors?.['passwordMisMatchError'] && registerForm.get('confirm_password')?.touched" class="text-danger">
          Password does not match
    </div>

  </div>

        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid"
        [ngClass]="{ 'btn btn-danger' : !registerForm.valid }"
        >Submit</button>

  </form>

  <!-- <h3>{{registerForm.value | json}}</h3> -->
